<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121983462135-h3p41eqscd2491aako7vnusnbaj8svdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121983462135-h3p41eqscd2491aako7vnusnbaj8svdb</string>
	<key>API_KEY</key>
	<string>AIzaSyBwMNPmi1OEbCqeDEnhcQj9eMm2qPiWy5k</string>
	<key>GCM_SENDER_ID</key>
	<string>121983462135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>flutter-2-17602</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-2-17602.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121983462135:ios:bf730462abd2fe434441f2</string>
</dict>
</plist>